# Created by .ignore support plugin (hsz.mobi)
# Web
/web/bundles/

# Build cache and logs
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*

# Config
/app/config/parameters.yml
/bin/

# Dependencies
/vendor/
